.o-blog--post {
    background-color: var(--bg-light-accent);
    &:hover {
        border: 1px solid var(--bg-light-100);
    }
}
.o-notice--post {
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(#000, 0.3), 0 15px 12px rgba(#000, 0.2);
    &:hover {
        .m-content {
            transform: translateY(0);
        }
    }
    .m-content {
        position: absolute;
        bottom: 0;
        width: 100%;
        // transform: translateY(40px);
        transition: transform 0.3s;
    }
}

.o-tiny--post {
    max-width: 600px;
    min-height: 200px;
    border-radius: 4px;
    .tiny-background {
        position: absolute;
        top: 0;
        left: 0;
        filter: brightness(0.7) blur(0.5px);
        border-radius: 4px;
    }
    // tiny-post-card title style diferrence
    & > h2.a-title {
        color: #c5c5c5;
        padding: 1rem;
        position: absolute;
        bottom: 0;
    }
    &:hover {
        .tiny-background {
            filter: brightness(0.9);
        }
    }
}

.post-img {
    padding-bottom: 70%;
    img {
        padding: 10px;
        border-radius: 3px;
    }
}

.flow\:5 {
    img {
        height: 300px;
    }
}
.i-100 {
    padding-bottom: 100%;
}
