* {
    margin: 0;
    padding: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    background-color: var(--base-background);
    scroll-behavior: smooth;
    font-size: var(--base-font-size);
    line-height: 1.35rem;
}
body {
    -webkit-font-smoothing: antialiased;
    color: var(--base-color);
    font-family: var(--global-font);
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}
main {
    width: calc(100vw - var(--sz--scroll-size));
}
a {
    outline: none;
    transition: all 0.2s;
}
li {
    list-style: none;
}
img {
    height: auto;
    max-width: 100%;
}
button {
    outline: none;
    border: none;
    display: inline-block;
    background-color: transparent;
}
input {
    outline: none;
    border: none;
}
p {
    line-height: normal;
    font-family: var(--paragraph-font);
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: normal;
    font-family: var(--title-font);
    font-weight: 600;
}
[role~='button'] {
    cursor: pointer;
}

hr {
    border: none;
}
