html {
   background-color: var(--bg-color-primary);
   scroll-behavior: smooth;
   font-size: var(--base-font-size);
}
* {
   margin: 0;
   padding: 0;
}
*,
*::after,
*::before {
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -o-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

body {
   -webkit-font-smoothing: antialiased;
   font-family: var(--global-font), var(--optional-font);
   text-rendering: optimizeLegibility;
   overflow-x: hidden;
}
main {
   width: calc(100vw - var(--sz-scroll-size));
}
a {
   outline: none;
   transition: all 0.2s;
}
li {
   list-style: none;
}
img {
   height: auto;
   max-width: 100%;
}
button {
   outline: none;
   border: none;
   display: inline-block;
}
input {
   outline: none;
   border: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: normal;
}
[role~='button'] {
   cursor: pointer;
}
