
root = true 

[*]
charset = utf-8

[*.{vue, html}]

indent_size = 3
tab_width = 3

[*.{js, json, jsx}]

indent_size = 4
tab_width = 4

[*.{scss, css}]

indent_size = 4
tab_width = 4

[sitemap.json]
tab_width = 4
indent_size = 4
indent_style = tab