@import '~/assets/scss/customs/settings';

.position-sticky {
    position: sticky !important;
    top: 68px;
}

.m-card-content {
    position: relative;
    border: 1px solid #8c858144;
    background-color: var(--bg-color-primary);
}
.pd-especial {
    @media screen and(min-width: $md) {
        padding: 2rem;
    }
    padding: 0.9rem;
    &.discus {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}
.line {
    padding-top: 0.9rem;
}
