@import '~/assets/scss/customs/settings';

.m-card-content {
    position: relative;
    border: 1px solid var(--border-post);
    background-color: var(--bg-light);
}
.pd-especial {
    @media screen and(min-width: $md) {
        padding: 2rem;
    }
    padding: 1rem;
    &.discus {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}
.line {
    padding-top: 0.9rem;
}
.pd {
    padding: 0.5rem 1rem;
}

.nuxt-content {
    p {
        font-size: 1rem;
        line-height: 1.7;
        margin-bottom: 1.5rem;
    }
    a {
        color: teal;
        text-decoration: underline;
        &:hover {
            color: #098fa7;
        }
    }
    @include media-from($lg) {
        p {
            font-size: 18px;
            line-height: 1.8;
        }
    }
}
