@import '~/assets/scss/customs/mixin';
.item-list {
    display: list-item;
}
.linkItem {
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1.25rem;
    padding: 0.25rem;
    transform: translateX(-100px);
    opacity: 0;
    font-family: var(--viga-font);
    @media screen and(min-width: $desktop_breakpoints) {
        background-color: transparent;
        text-transform: capitalize;
        font-size: 1.1rem;
        transform: translateX(0);
        opacity: 1;
        font-family: var(--noto-font);
        text-align: left;
        margin: 0;
    }
}
