@import '~/assets/scss/customs/settings';
.list-item {
    display: list-item;
}
.link-item {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-family: var(--noto-font);
    color: #f0852d;
    a {
        font-weight: bold;
    }
}
