@import '~/assets/scss/customs/settings';

.m-footer {
    position: relative;
    background-color: var(--bg-footer); //#02b69e;
    padding: 1.5rem 0;
    margin-top: auto;
    color: var(--color-footer);
    width: 100%;
    //box-shadow: 4px 0 12px rgba(160, 152, 145, 0.281);
}
.footer--separator {
    margin: 1.5rem 0;
    border-bottom: 1px solid var(--nav-border-bottom);
}
