//============#>   GREY : COLOR SCHEME =====|

    $-v-grey-dark               : #162225;
    $-v-grey-primary            : #1b282d;
    $-v-grey-100                : #223439;
    
    $-v-grey-150                : #151f22;
    $-v-grey-200                : #162124;
    $-v-grey-250                : #172226;
    $-v-grey-300                : #273a3f;
    $-v-grey-350                : #1a262a;
    $-v-grey-400                : #1b282c;
    $-v-grey-450                : #1c292e;
    $-v-grey-500                : #1d2b30;
    $-v-grey-550                : #1e2d32;
    $-v-grey-600                : #202f34;
    $-v-grey-650                : #213036;
    $-v-grey-700                : #223238;
    $-v-grey-750                : #2a393f;
    $-v-grey-800                : #314046;
    $-v-grey-850                : #39484d;
    $-v-grey-900                : #414f54;

//============#>   NIGHT  : COLOR SCHEME =====|

    $-v-night-dark              : #202121;
    $-v-night-primary           : #232424;
    $-v-night-100               : #2c2d2d;
    $-v-night-150               : #353636;
    $-v-night-200               : #3d3e3e;
    $-v-night-250               : #464747;
    $-v-night-300               : #4f5050;
    $-v-night-350               : #585959;
    $-v-night-400               : #616161;
    $-v-night-450               : #696a6a;
    $-v-night-500               : #727373;
    $-v-night-550               : #7b7c7c;
    $-v-night-600               : #848484;
    $-v-night-650               : #8d8d8d;
    $-v-night-700               : #959696;
    $-v-night-750               : #9e9f9f;
    $-v-night-800               : #a7a7a7;

//============#>   SMOKE  : COLOR SCHEME ========|

    $-v-smoke-dark              : #595959;
    $-v-smoke-primary           : #878787;
    $-v-smoke-100               : #949494;
    $-v-smoke-150               : #a0a0a0;
    $-v-smoke-200               : #a7a7a7;
    $-v-smoke-250               : #b9b9b9;
    $-v-smoke-300               : #c6c6c6;
    $-v-smoke-350               : #cccccc;
    $-v-smoke-400               : #d3d3d3;
    $-v-smoke-450               : #d9d9d9;
    $-v-smoke-500               : #dfdfdf;
    $-v-smoke-550               : #e6e6e6;
    $-v-smoke-600               : #ececec;
    $-v-smoke-650               : #f2f2f2;
    $-v-smoke-700               : #f9f9f9;

//============#>    BLUE   : COLOR BRANDS ========|

    $-v-blue-dark               : #13232A;
    $-v-blue-primary            : #264653;
    $-v-blue-100                : #2D5362;
    $-v-blue-150                : #335F70;
    $-v-blue-200                : #335F70;
    $-v-blue-250                : #335F70;
    $-v-blue-300                : #47829A;
    $-v-blue-350                : #4D8EA8;
    $-v-blue-400                : #5798B2;
    $-v-blue-450                : #65A1B8;
    $-v-blue-500                : #73A9BF;

//============#>   GREEN  : COLOR BRANDS ========|
 
    $-v-green-dark               : #1A6158;
    $-v-green-primary            : #228174;
    $-v-green-100                : #228174;
    $-v-green-150                : #2BA191;
    $-v-green-200                : #2FB1A0;
    $-v-green-250                : #33C1AE;
    $-v-green-300                : #3ECCB9;
    $-v-green-350                : #4ED0BF;
    $-v-green-400                : #5ED4C4;
    $-v-green-450                : #6ED8CA;
    $-v-green-500                : #7EDDD0;

//============#>   YELLOW  : COLOR BRANDS ========|

    $-v-yellow-dark              : #B1871B;
    $-v-yellow-primary           : #E2B33C;
    $-v-yellow-100               : #E4BA4E;
    $-v-yellow-150               : #E7C15F;
    $-v-yellow-200               : #E7C15F;
    $-v-yellow-250               : #ECCE83;
    $-v-yellow-300               : #EED595;
    $-v-yellow-350               : #F3E4B9;
    $-v-yellow-400               : #EED595;

//============#>   ORANGE  : COLOR BRANDS ========|

    $-v-orange-dark             : #BF5D0D;
    $-v-orange-primary          : #F0852D;
    $-v-orange-100              : #F29040;
    $-v-orange-150              : #F39B53;
    $-v-orange-200              : #F4A666;
    $-v-orange-250              : #F6B179;
    $-v-orange-300              : #F7BC8D;
    $-v-orange-350              : #F8C8A0;
    $-v-orange-400              : #FEF4EC;

//============#>    RED   : COLOR BRANDS ========|

    $-v-red-dark                : #C53D1B;
    $-v-red-primary             : #C53D1B;
    $-v-red-100                 : #E45C3A;
    $-v-red-150                 : #E76A4B;
    $-v-red-200                 : #E9795D;
    $-v-red-250                 : #EB886F;
    $-v-red-300                 : #EE9781;
    $-v-red-350                 : #F0A693;
    $-v-red-400                 : #F3B5A5;
    $-v-red-450                 : #F8D2C9;
    $-v-red-500                 : #FDF0ED;
