

//============#>   NIGHT  : COLOR SCHEME =====|

    $-v-night-dark              : #101010;
    $-v-night-primary           : #161616;
    $-v-night-100               : #2c2d2d;
    $-v-night-150               : #353636;
    $-v-night-200               : #3d3e3e;

//============#>   SMOKE  : COLOR SCHEME ========|

    $-v-smoke-dark              : #dcdcdc;
    $-v-smoke-light             : #fefefe;

//============#>    BLUE   : COLOR BRANDS ========|

    $-v-blue-dark               : #13232A;
    $-v-blue-primary            : #264653;
    $-v-blue-100                : #2D5362;
    $-v-blue-150                : #335F70;
    $-v-blue-200                : #335F70;
    $-v-blue-250                : #335F70;
    $-v-blue-300                : #47829A;
    $-v-blue-350                : #4D8EA8;
    $-v-blue-400                : #5798B2;
    $-v-blue-450                : #65A1B8;
    $-v-blue-500                : #73A9BF;

//============#>   GREEN  : COLOR BRANDS ========|
 
    $-v-green-dark               : #1A6158;
    $-v-green-primary            : #228174;
    $-v-green-100                : #228174;
    $-v-green-150                : #2BA191;
    $-v-green-200                : #2FB1A0;
    $-v-green-250                : #33C1AE;
    $-v-green-300                : #3ECCB9;
    $-v-green-350                : #4ED0BF;
    $-v-green-400                : #5ED4C4;
    $-v-green-450                : #6ED8CA;
    $-v-green-500                : #7EDDD0;

//============#>   YELLOW  : COLOR BRANDS ========|

    $-v-yellow-dark              : #B1871B;
    $-v-yellow-primary           : #E2B33C;
    $-v-yellow-100               : #E4BA4E;
    $-v-yellow-150               : #E7C15F;
    $-v-yellow-200               : #E7C15F;
    $-v-yellow-250               : #ECCE83;
    $-v-yellow-300               : #EED595;
    $-v-yellow-350               : #F3E4B9;
    $-v-yellow-400               : #EED595;

//============#>   ORANGE  : COLOR BRANDS ========|

    $-v-orange-dark             : #BF5D0D;
    $-v-orange-primary          : #F0852D;
    $-v-orange-100              : #F29040;
    $-v-orange-150              : #F39B53;
    $-v-orange-200              : #F4A666;
    $-v-orange-250              : #F6B179;
    $-v-orange-300              : #F7BC8D;
    $-v-orange-350              : #F8C8A0;
    $-v-orange-400              : #FEF4EC;

//============#>    RED   : COLOR BRANDS ========|

    $-v-red-dark                : #C53D1B;
    $-v-red-primary             : #FF3C2E;
    $-v-red-100                 : #E45C3A;
    $-v-red-150                 : #E76A4B;
    $-v-red-200                 : #E9795D;
    $-v-red-250                 : #EB886F;
    $-v-red-300                 : #EE9781;
    $-v-red-350                 : #F0A693;
    $-v-red-400                 : #F3B5A5;
    $-v-red-450                 : #F8D2C9;
    $-v-red-500                 : #FDF0ED;
