// ====================================================================================== //
//                                  MDULAR STYLES                                         //
// ====================================================================================== //

#main--layout\:app {
    min-width: 100vw;
}
.container {
    max-width: var(--max-width-xl);
    margin: 0 auto;
    padding: 0 1rem;
    @include media-responsive($lg) {
        padding: 0 1.5rem;
    }
    @include media-responsive($xl) {
        padding: 0 2rem;
    }
}

.md-grid {
    display: grid;
    grid-template-columns: 100%;
    column-gap: var(--grid-gap);
    width: 100%;
    &.gap {
        row-gap: var(--grid-gap);
    }
}

@media screen and(min-width: $xl) {
    @for $i from 1 through 14 {
        .md-grid-#{$i} {
            grid-template-columns: repeat(#{$i}, calc(#{100 / $i}% - var(--grid-gap) * #{$i - 1}/#{$i}));
        }
        .lg-grid-#{$i} {
            grid-column-end: span #{$i};
        }
    }
}

.md-flex {
    display: flex;
    flex-wrap: nowrap;
    &.fl-center {
        justify-content: space-between;
        align-items: center;
    }
    &.dir {
        &\:column {
            flex-direction: column;
        }
        &\:row {
            flex-direction: row;
        }
    }
    .flow {
        @for $i from 2 through 6 {
            &\:#{$i} {
                flex-grow: #{$i};
            }
        }
    }
    .shrink {
        &\:10\% {
            flex-shrink: 2;
        }
    }
    &.fl-space {
        justify-content: space-around;
    }
}
