@import './colors';

:root{

//==========#########  SIZES : CUSTOM ===============|

    --max-width-xxl             : 1600px;
    --max-width-xl              : 1400px;
    --max-width-lg              : 1140px;
    --sz--scroll-size           : 0;
    --grid-gap                  : 2rem;
    --base-font-size            : 16px;
    --mobile-nav-size           : #{rem(58)};
    --desktop-nav-size          : 92px;

//==========#########  FONTS : CUSTOM ================|

    --global-font               : 'Roboto',-apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --optional-font             : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --noto-font                 : 'Noto Sans JP', 'Roboto', sans-serif;
    --viga-font                 : 'Viga','Noto Sans JP', 'Roboto', sans-serif;
    --open-sans-font            : 'Open Sans', 'Roboto', sans-serif;
    --roboto-font               : 'Roboto' sans-serif;
    --nunito-sans-font          : 'Nunito', 'Open Sans', 'Roboto', sans-serif;

//=========#######  COLOR NOT CHANGE THEME =============|

}
:root[data-theme="light"]{
    --bg-light                  : #{$-v-smoke-light};
    --bg-light-100              : #{$-v-smoke-dark};
    --bg-grey                   : #{$-v-night-primary};
    --bg-primary                : #EB6200;
    --bg-second                 : #007FA0;
    --other-color               : #24504c;
}
:root[data-theme="dark"]{
    --bg-light-100              : #{$-v-night-200};
    --bg-light                  : #{$-v-night-primary};
}



@include media-responsive($xl){
    ::-webkit-scrollbar{
        --sz--scroll-size: 10px !important;
        height: var(--sz--scroll-size);
        width: var(--sz--scroll-size);
        background-color: var(--bg-color-primary);
        &-thumb{
            background-color: var(--bg-scroll-thumb);
            border-radius: 5px;
            transition: all .5s ease-in-out;
            border: 2px solid var(--bg-color-primary);
            &:hover{
                background-color: #3d5363;
            }
        }
        &-button{
            background-color: transparent;
            height: 5px;
            width: 5px;
        }
    }
    :root{
        --mobile-nav-size           : #{rem(64)};
    }
}
