@import './colors';

:root{

//==========######  SIZES : CUSTOM =============|
    --max-width                 : 1400px;
    --sz-scroll-size            : 10px;
    --grid-gap                  : 2rem;
    --gap                       : var(--grid-gap);
    --base-font-size            : 16px;

//==========######  FONTS : CUSTOM =============|

    --global-font               : -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --optional-font             : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --noto-font                 : 'Noto Sans JP', 'Roboto', sans-serif;
    --viga-font                 : 'Viga','Noto Sans JP', 'Roboto', sans-serif;
    --open-sans-font            : 'Open Sans', 'Roboto', sans-serif;
    --nunito-sans-font          : 'Nunito', 'Open Sans', 'Roboto', sans-serif;

}
:root[data-theme="light"]{
    --bg-color-primary          : var(--v-smoke-500);
    --bg-color-second           : var(--v-smoke-600);


    --text-color-primary        :#414645;
    --text-accent               : var(--v-orange-dark);


    --smoke-100                 : var(--v-smoke-100);
    --smoke-150                 : var(--v-smoke-150);
    --smoke-200                 : var(--v-smoke-200);
    --smoke-250                 : var(--v-smoke-250);
    --smoke-300                 : var(--v-smoke-300);
    --smoke-350                 : var(--v-smoke-350);
    --smoke-150                 : var(--v-smoke-150);
    --dark-primary              : #1C2120;
    --dark-light                : #465458;
    --dark-active-link          : #2129294d;
    --bg-input-primary          : #cdcece;
    --light-second              : #e8eced;
    --light-border-1            : #c9c9c9;
    --text-body                 : #4c5251;
    --text-dark                 : #353d3c;

    /* ==== GREY DARK == */

    --grey-dark                 : #25343a;
    --grey-dark                 : #182327;
    --grey-second               : #283336;

    --grey-border               : #c7cdd1;

    --dark-shadow               : #8a8a8a;
    --light-error               : #cac0b9;

    --dark-light-100            : #aaaaaa;
    --dark-light-200            : #868686;
    --dark-300                  : #313131;

    --bg-opacity                : rgba(0,0,0,.9);
    --text-color-primary        : #414645;
    --bg-error                  : #d35216;
    --blog-title-color          : #4c5251;
    --blog-title-color-white    : #c5cccb;
    --card-bg-blog              : #f7f7f7;
    --card-border-bg            : #e4e4e4;

    --blue-depth                : #07658a;
    --blue-depth-200            : #0e7face1;

    --nav-border                : #505757;
    --dt-nav                    : #9ea8a8;
    --dt-nav-alpha              : #959797;

    --bg-scroll-thumb           : #929292;
    --brand-color               : rgb(40, 131, 119);
    --nav-color                 : #b15b0b;

    --dt-color                  : #131c1f;
    --bg-drawer                 : var(--v-smoke-500);
}
:root[data-theme="dark"]{
    --bg-color-primary          : #11191c;
    --bg-color-second           : #141e22;

    --text-color-primary        :#889491;
    --text-accent               : var(--v-orange-primary);



    --light-primary             : #101d21;
    --bg-input-primary          : #212f33;
    --dark-primary              : #efefef;
    --light-second              : var(--v-grey-primary);
    --light-border-1            : #555555;
    --white-primary             : #525554;
    --text-dark                 : #838383;

    --grey-border               : #2a3b47;

    --card-bg-blog              : #1f2a2e;
    --card-border-bg            : #1f2c31;
    --card-border-bg-1          : #243338;

    --blue-depth                : rgb(8, 126, 173);
    --blue-depth-200            : #0b8cbee1;

    --blog-color-txt-content    : #c2c1c1;


    --grey-200                  : #9aabb1;
    --bg-scroll-thumb           : #3d5363;
    --dt-nav                    : var(--blue-depth);
    --dt-nav-alpha              : var(--blue-depth-200);
    --nav-border                : #2c3538ce;

    --dt-color                  : #9e9e9e;

    --bg-drawer                 : var(--v-grey-dark);
}


$device_pixel_radio: 2;
$phone_breakpoints: 400px;
$tablet_breakpoints: 890px;
$desktop_breakpoints: 1200px;


@media screen and (min-width: $desktop_breakpoints) {
    ::-webkit-scrollbar{
        height: 10px;
        width: 10px;
        background-color: var(--bg-color-primary);
        &-thumb{
            background-color: var(--bg-scroll-thumb);
            border-radius: 5px;
            transition: all .5s ease-in-out;
            border: 2px solid var(--bg-color-primary);
            &:hover{
                background-color: #3d5363;
            }
        }
        &-button{
            background-color: transparent;
            height: 5px;
            width: 5px;
        }
    }
}