// ====================================================================================== //
//                                  MDULAR STYLES                                         //
// ====================================================================================== //

#main--layout\:app {
   min-width: 100vw;
}

.md-grid {
   display: grid;
   grid-template-columns: 100%;
   column-gap: var(--grid-gap);
   width: 100%;
   &.auto-row-400 {
      grid-auto-rows: 400px;
   }
   &.with-full-gap {
      row-gap: var(--grid-gap);
   }
}

@media screen and(min-width: 1200px) {
   @for $i from 1 through 14 {
      .md-grid-#{$i} {
         grid-template-columns: repeat(#{$i}, calc(#{100 / $i}% - var(--grid-gap) * #{$i - 1}/#{$i}));
      }
      .lg-grid-#{$i} {
         grid-column-end: span #{$i};
      }
   }
}

.md-flex {
   display: flex;
   flex-wrap: nowrap;
}
