.footer--section {
    padding: 0.5rem;
    display: flex;
    ul {
        position: relative;
        padding-left: 0.5em;
        font-size: 0.9rem;
        list-style: none;
        &::before {
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background-color: #eeb27a;
            left: 0;
        }
    }
}
.f-title {
    font-family: var(--navigation-font);
    font-weight: 500;
    font-size: 1rem;
    color: #218a7b;
}
.f-icon {
    margin-right: 0.35rem;
}
