// =====  MIXINGS  =======//

@mixin normalize_img {
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
}

@mixin absolute_position {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
}
@mixin line_bottom($color) {
   &::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 15%;
      height: 2px;
      background-color: $color;
   }
}

$device_pixel_radio: 2;
$phone_breakpoints: 400px;
$tablet_breakpoints: 890px;
$desktop_breakpoints: 1200px;
