.m-about--author {
    padding: 0.5rem 1rem;
    border-top: 1px solid var(--bg-lighter);
    color: #ceb8a6;
}
.p-bottom {
    width: 100%;
}

img.author-img {
    width: 2.5rem;
    height: 2.5rem;
}
