@import '~/assets/scss/customs/settings';

.a-title-p {
    font-size: 3rem;
}
.a-title a {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2rem;
    font-family: inherit;
    &:hover {
        opacity: 0.5;
    }
}
.a-title {
    font-family: var(--title-font);
    color: #218a7b;
    &.big-text {
        line-height: 1.15;
        font-size: 2.5rem;
        font-weight: 600;
        @include media-from($lg) {
            font-size: 3.5rem;
        }
    }
    &.text-center {
        text-align: center;
    }
}

.sumarry {
    --sumarry: 1.5rem;
    font-size: var(--sumarry);
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

@include media-from($lg) {
    :root {
        --sumarry: 2rem;
    }
}
