.o-card-template {
   position: relative;
   &\:blog {
      max-width: 1000px;
   }
}

.o-card-meta {
   @include absolute_position;
   padding: 0.5rem;
   color: var(--light-second);
   z-index: 2;
}
