@import '~/assets/scss/customs/mixin';

.Menu {
    width: 100%;
    height: 100%;
    padding: 0 0.8rem;
    flex-direction: column;
    @media screen and(min-width: $xl) {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0;
    }
}
.li-search {
    display: list-item;
    @media screen and(min-width: $xl) {
        display: none;
    }
}

.logo_contain {
    color: inherit;
    display: block;
    width: 80%;
    height: 100%;
    padding: 0.2rem;
    transition: all 0.5s ease;
}
