@import '~/assets/scss/customs/settings';

.menu-desktop {
    display: none;
    @include media-from($lg) {
        display: block;
        .ly-flex {
            flex-direction: row !important;

            //========//do the implementation later

            /* li:first-child {
                order: 1;
                display: none;
            } */
        }
    }
}

.menu-background {
    width: 80%;
    max-width: 400px;
    margin-left: auto;
    padding: 1rem;
    height: 100vh;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.25);
}

.menu-mobile {
    left: 0;
    position: fixed;
    z-index: 20;
    top: var(--mobile-nav-size);
    right: 0;
    opacity: 0;
    pointer-events: none;
    transform: translateY(2rem);
    transition: all 250ms cubic-bezier(0.13, 0.8, 0.42, 0.67);
    transition-delay: 100ms;
    // for desktop displaying none
    @include media-from($lg) {
        display: none;
    }
    &.is_active {
        transform: translateY(0);
        transition-timing-function: cubic-bezier(0.6, 0.36, 0.2, 0.89);
        opacity: 1;
        pointer-events: auto;
        background-color: #4f505070;
    }

    .menu-background {
        background-color: var(--menu-background);
    }

    /* @apply css styles to link for mobile devices */
    .link-item {
        padding: 0.5rem 0;
        border-bottom: 1px solid var(--nav-border-bottom);
        /* fix bug navigation error */
        .link {
            width: 100%;
        }
    }
    .list-item:first-child {
        padding-bottom: 0.5rem;
    }
}
